mat-grid-tile{
  display: flex;
  bmg-pie-chart, bmg-bar-chart {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
  }
}



div.flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  & > * {
    flex-basis: calc(33% - 15px);
    margin: 5px;
  }
}
