<bmg-toolbar (menuClick)="drawer.toggle()"></bmg-toolbar>


<mat-drawer-container class="container">
  <mat-drawer #drawer class="sidenav" mode="side">
    <mat-selection-list #shoes [multiple]="false">
      <mat-list-option [routerLink]="'/'">
        <mat-icon mat-list-icon>home</mat-icon>
        <div matLine>Home</div>

      </mat-list-option>
      <mat-list-option [routerLink]="'/stats'">
        <mat-icon mat-list-icon>query_stats</mat-icon>
        <div matLine>Stats</div>

      </mat-list-option>

      <mat-divider></mat-divider>

      <mat-list-option [routerLink]="'/'">
        <mat-icon mat-list-icon>info</mat-icon>
        <div matLine>Infos étab</div>

      </mat-list-option>

      <mat-list-option [routerLink]="'/'">
        <mat-icon mat-list-icon>image</mat-icon>
        <div matLine>Photos/Vidéos</div>

      </mat-list-option>

      <mat-divider></mat-divider>

      <mat-list-option [routerLink]="'/'">
        <mat-icon mat-list-icon>person</mat-icon>
        <div matLine>Avis clients</div>

      </mat-list-option>

      <mat-list-option [routerLink]="'/'">
        <mat-icon mat-list-icon>question_answer</mat-icon>
        <div matLine>Messagerie instantanée</div>

      </mat-list-option>

      <mat-list-option [routerLink]="'/'">
        <mat-icon mat-list-icon>edit</mat-icon>
        <div matLine>Posts et publications</div>

      </mat-list-option>

    </mat-selection-list>
  </mat-drawer>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>

