<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="menuClick.emit()">
   <mat-icon>menu</mat-icon>
  </button>
  <span style="flex-grow: 1">Annuaire</span>

  <button (click)="callVendastaAPI()" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button (click)="callVendastaAPI()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
