

/* For use in src/lib/core/theming/_palette.scss */
$mgmt-blue: (
    50 : #e5f1f4,
    100 : #bfdce3,
    200 : #94c5d0,
    300 : #69adbd,
    400 : #489caf,
    500 : #288aa1,
    600 : #248299,
    700 : #1e778f,
    800 : #186d85,
    900 : #0f5a74,
    A100 : #a7e6ff,
    A200 : #74d8ff,
    A400 : #41c9ff,
    A700 : #28c2ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$mgmt-orange: (
    50 : #fdeeea,
    100 : #fad4cb,
    200 : #f6b7a9,
    300 : #f29a87,
    400 : #f0856d,
    500 : #ed6f53,
    600 : #eb674c,
    700 : #e85c42,
    800 : #e55239,
    900 : #e04029,
    A100 : #ffffff,
    A200 : #ffeeeb,
    A400 : #ffc0b8,
    A700 : #ffa99f,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


/* For use in src/lib/core/theming/_palette.scss */
$mgmt-green: (
    50 : #e9f4ea,
    100 : #c8e3ca,
    200 : #a4d0a7,
    300 : #7fbd84,
    400 : #63af69,
    500 : #48a14f,
    600 : #419948,
    700 : #388f3f,
    800 : #308536,
    900 : #217426,
    A100 : #b3ffb7,
    A200 : #80ff87,
    A400 : #4dff56,
    A700 : #34ff3e,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);




